header {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background: var(--canvas);
  border-bottom: 0.5rem solid var(--primary);
}

section {
  padding: 0 5%;
}
