---
import Layout from '../../layouts/Layout.astro';
import './_experience.css';
import { history } from './experience';
---

<Layout title="Experience">
  <main>
    <header>
      <a href="/">← Go Back</a>
      <h1>Experience</h1>
      <div></div>
    </header>
    <section aria-label="experience">
      {
        history.map(({ company, duration, topics }) => (
          <article>
            <h2>{company + ' ' + duration}</h2>
            {topics.map(({ title, content }) => (
              <div>
                <h3>{title}</h3>
                {content.map((para) => (
                  <p>{para}</p>
                ))}
              </div>
            ))}
          </article>
        ))
      }
    </section>
  </main>
</Layout>
