---
import Layout from '../../layouts/Layout.astro';
import './new.css';
import { experience } from './content';
---

<Layout title="Nick Fitton">
  <div class="content">
    <header>
      <div class="title">
        <h1>Nicholas Fitton</h1>
        <h2>Senior fullstack engineer</h2>
        <p>Working in the Frontend Platforms squad @ OVO Energy</p>
      </div>
      <div class="about">
        <p>
          I'm a Squad lead and senior software engineer at OVO Energy with a
          passion for creating innovative solutions in the energy industry. With
          over 5 years of experience, I have managed projects, built
          integrations, and solved complex problems using technologies such as
          React, React Native, Gatsby, Next.js, and more. I have a proven track
          record of driving results and achieving impact in my previous roles,
          including projects to implement push notifications, optimize app
          updates, and create help sections from scratch.
        </p>
      </div>
    </header>
    <section class="info">
      <div class="card">
        <h3>Experience</h3>
        {
          experience.map(({ company, from, to, content }) => (
            <div class="experience">
              <div class="left">
                <h4>{company}</h4>
                <p>
                  {from} - {to}
                </p>
              </div>
              <div class="right">
                {content.map((paragraph) => (
                  <p>{paragraph}</p>
                ))}
              </div>
            </div>
          ))
        }
      </div>
      <div class="card skills">
        <h3>Skills</h3>
        <div></div>
      </div>
      <div class="card projects">
        <h3>Projects</h3>
      </div>
      <div class="card blog">
        <h3>Blog</h3>
      </div>
    </section>
  </div>
</Layout>
