.content {
  margin: 2rem;
}
p {
  color: #aeaeae;
  font-weight: 300;
  strong {
    color: #ebebeb;
    font-weight: 400;
  }
}

header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;

  div.title {
    h1,
    h2,
    p {
      margin: 0.5rem 0;
    }
    h2 {
      font-size: 1.25rem;
    }
  }
}

section.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.experience {
  display: grid;
  padding-bottom: 1rem;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  p {
    margin: 0;

    a {
      font-weight: 400;
      color: #ebebeb;
    }
  }
  .left {
    h4 {
      border-top: 3px solid var(--primary);
      margin: 0;
    }
    p {
      font-size: 0.8rem;
    }
  }
  .right {
    font-size: 0.9rem;
    display: grid;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 992px) {
  section.info {
    grid-template-columns: 1fr;
    margin: 0 4rem;
  }
}

@media only screen and (max-width: 650px) {
  section.info {
    margin: 0;
  }
  header,
  .experience {
    grid-template-columns: unset;
    .about p {
      margin: 0;
    }
  }
}
